/* Error: expected "{".
 *     ,
 * 157 |     margin-bottom: 10px;
 *     |                        ^
 *     '
 *   ohmyfood\style.scss 157:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 157 \2502      margin-bottom: 10px;\d\a     \2502                         ^\a     \2575 \a   ohmyfood\\style.scss 157:24  root stylesheet';
}
